/* Google Font link */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,400;1,500;1,600&display=swap');

body {
    background: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
    overflow: hidden;
}

main {
    max-width: 768px;
    margin: 0 auto;
}

h1 {
    font-size: 36px; /* Adjust font size for smaller screens */
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    border: white solid 2px;
    background-color: white;
    border-radius: 50px;
    padding: 10px; /* Adjust padding for smaller screens */

    margin-top: 50%; /* to make it place on a center */
    text-align: center;
    width: 120%;

    display: flex;
    justify-content: center;
    align-items: ce;
}

p {
    font-size: 24px; /* Adjust font size for smaller screens */
    margin-top: 20px; /* Adjust margin for smaller screens */
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    font-weight: 700;

    text-align: center;
    
}

form {
    margin: 20px;
    padding: 10px;
    font-size: 24px;
    display: flex;
    flex-direction: row; /* Use row to place elements side by side */
    align-items: center;
}

#scoreNumber {
    flex: 1; /* Grow to take available space */
    height: 50px;
    border-radius: 25px;
    border-style: none;
    box-shadow: 0.5px 5px 9px #232527;
    font-size: 24px;
    width: 50%;
}

.submitNumber {
    width: auto; /* Let it be as wide as needed */
    height: 50px;
    font-size: 20px;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: rgb(0, 0, 0);
    border-radius: 25px;
    border-style: none;
    outline: 10px solid rgb(238, 184, 238);
    box-shadow: 0.5px 10px 8px #232527;

    left: 50%;

}


.submitNumber:hover {
    font-weight: 700;
}
